/*============================================================================================
                Common styles
 =============================================================================================*/
button:focus {
  outline: none; }

body {
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden; }

h1 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0;
  width: 80%;
  margin-left: 10%; }

h4 {
  font-size: 22px; }

.little-description1 {
  font-size: 16px;
  color: #fff;
  width: 80%;
  margin-left: 10%;
  margin-top: 25px; }

.little-description2 {
  font-size: 17px;
  margin-top: 25px; }

.little-description3 {
  font-size: 18px;
  width: 70%;
  margin-left: 15%;
  padding-top: 50px;}

span {
  font-size: 18px;
  font-weight: 700;
  margin-left: 1rem; }

.fa-check-circle {
  font-size: 18px; }

.bg-dark {
  background-color: transparent !important;
  transition: .3s; }

.is-sticky .bg-dark {
  background-color: #1b2639 !important;
  transition: .5s; }
.flex-center {
  align-items: center; }

.d-flex {
  display: flex; }
.navbar-dark .navbar-toggler {
    border: 0;
}
/* ========Navigation CSS Start========== */
.navbar {
  opacity: 0.9;
  box-shadow: 0.5px 0.5px 3px #fff; }
  .navbar .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%); }
  .navbar .nav-item {
    padding-left: 1em; }
	.navbar .nav-item .nav-link {
      text-transform: capitalize;
      color: #fff;
      font-weight: 500;
      font-size: 16px; }
    .navbar .nav-item .nav-link:hover,
    .navbar .nav-item .nav-item.active a {
      color: #00fff0; }
    .navbar .nav-item .nav-link:focus {
      color: #00fff0; }
    .navbar .nav-item .nav-link.active {
      color: #00fff0; }
  .navbar .nav-item:last-child {
    padding-right: 0; }
/* ========Navigation CSS End========== */
/* ========Home Section CSS Start========== */
#home-section {
  min-height: 500px;
  position: relative;
  background: url(../img/bg-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;}
  #home-section .dark-overlay {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
	min-height: 500px;
    top: 0;
    left: 0;
    background: rgba(34, 49, 71, 0.8); }
  #home-section .home-inner {
    padding-top: 120px;
	padding-bottom: 50px;
    text-transform: Capitalize;
    color: #fff;
    text-align: left; }
    .home-inner .btn-area {
	  width: 80%;
	  margin-left: 10%; }

    .home-inner .img {
      width: 43%;
      margin-left: 30%; }
/* ========Home Section CSS End========== */
/* ========Services Section CSS Start========== */
#services-section {
  margin-top: 90px; }
  
  #services-section .line::after {
  content: "";
  display: block;
  height: .18rem;
  background: #00fff0;
  width: 4.2rem;
  margin: auto;
  margin-top: 3rem; }
/* ========Services Section CSS End========== */
/* ========About Section CSS Start========== */
#about-section.intro {
  height: 100%; }

  #about-section .left {
  background-color: #323a4d;
  background-image: url(../img/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 380px;
  width: 100%;
   }

  #about-section .right {
  height: 380px;
  background-color: #e9ecef; 
  width: 100%;  }

  #about-section .content {
  width: 90%;
  margin-left: 5%;
  margin-top: 35px;}
/* ========About Section CSS End========== */
/* ========Features Section CSS Start========== */
#features-section .img-phone {
  height: 50%;
  margin-top: 170px; }

#features-section .code-window {
  right: 0px;
  width: 570px; }
/* ========Features Section CSS End========== */
/* ========Screenshot Section CSS Start========== */
#screenshot-section {
  background-color: #e9ecef;
  }
  #screenshot-section .phones {
    right: 0px;
    z-index: 10;
    position: relative; }
/* ========Screenshot Section CSS End========== */
/* ========Countdown Section CSS Start========== */
#countdown-section {
  background-color: #223047;
  margin-top: -130px;
  z-index: 20;
  position: relative; }
  #countdown-section .achive-single .icon {
    font-size: 42px;
    color: #fff;
    margin-bottom: 12px; }
  #countdown-section .achive-single h2 {
    font-size: 29px;
    font-weight: 500;
    color: #fff;
    line-height: 50px; }
  #countdown-section .achive-single span {
    display: block;
    font-size: 29px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0;
    margin-top: 9px; }
/* ========Countdown Section CSS End========== */
/* ========Quote Section CSS Start========== */
#quote-section {
  position: relative;
  background-image: url(../img/img3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #00fff0;
  min-height: 300px;  }
  #quote-section .dark-overlay {
    background: rgba(34, 49, 71, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 300px;}
/* ========Quote Section CSS End========== */
/* ========Download Section CSS Start========== */
#download-section{
	background: #e9ecef;
}
#download-section .mdi-33px {
  font-size: 33px;
  margin-right: 4px; }

#download-section .btn-app {
  margin-bottom: -69px; }
/* ========Download Section CSS End========== */
/* ========Contact Section CSS Start========== */
#contact-section {
  background-color: #223047;
  color: #fff; }
/* ========Contact Section CSS End========== */
/* ========Copyright Section CSS Start========== */
#copyright-section {
  background-color: #223047; }
  #copyright-section .text {
    color: #fff; }
	#copyright-section span{
		 font-size: 17px ;
		  margin-left: 0.9rem ;
	 }
	
	 
/* ========Copyright Section CSS End========== */


/*============================================================================================
                Media Queries Start
 =============================================================================================*/

@media (max-width: 1824px){
	#screenshot-section {
		margin-top: -190px; 
	}
}
@media (max-width: 1159px) {
	.home-inner .img {
		width: 49%;
		margin-left: 30%; 
	}
	#screenshot-section {
    margin-top: 0px !important; }
}
@media (max-width: 991px) {
	#services-section {
		margin-top: 35px; 
	}
	.navbar-center {
    position: absolute;
    background-color: #1b2639;
    width: 100%;
    left: 0;
    top: 100%;
    text-align: center; }
  .navbar .nav-item .nav-link {
    font-size: 25px; }}
@media (max-width: 767px) {
	#countdown-section {
    margin-top: 0px !important; }
	 .little-description3 {
    padding-top: 20px;}
	#copyright-section span{
		 font-size: 15px !important;
		  margin-left: 0.6rem !important;
	 }
	 }
	 

@media (max-width: 575px) {
	.home-inner h1 {
    font-size: 30px; }
  .home-inner p {
    font-size: 14px; }
  #home-section .home-inner {
    padding-top: 100px;
    }
	#about-section .right {
		padding-top: 20px !important;
	}
  	}
@media (max-width: 480px){
	.little-description3{
		font-size: 16px;
		padding-top: 0px !important;
	}
}





  
	

 



	
